<!--
<button class="btn btn-success" routerLink="/altas">CREAR</button>
-->
<br /><br />
<h3 class="rest_titulo">Lista de Restaurantes</h3>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let restaurante of lista_restaurantes">
      <div class="card rest_card">
      <!-- para modo local sustituir por esta ruta 
        <img *ngIf="restaurante.fotoHashCode" src="http://localhost:8081/restaurante/obtenerFoto/{{restaurante.id}}" class="card_img" alt="..." /> 
      -->
        <img *ngIf="restaurante.fotoHashCode" src="{{ruta_servicio_foto}}/{{restaurante.id}}" class="card_img" alt="..." />
        <!-- si fotohascode es nulo cargamos la foto por defecto-->
        <img *ngIf="!restaurante.fotoHashCode" src="/assets/imgrest.jpeg" class="card_img" alt="..." />
        <div class="card-body">
        
          <div>
            <h1 class="card_title rest_nombre">{{ restaurante.nombre }}</h1>
            <p class="card_text rest_direccion">{{ restaurante.direccion }}</p>
            <p class="card_text rest_barrio">{{ restaurante.barrio }}</p>
            <a href="#" class="btn btn-warning rest_button">Ficha restaurante</a>
            <p></p>
            <button  class="btn btn-warning rest_button" (click)='eliminaRestaurante(restaurante.id)'>Borrar
                
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-paginator [length]="totalRegistros"
              [pageSize]="totalPorPagina"
              [pageSizeOptions]="opcionesTamanio"
              [pageIndex]="paginaActual"
              aria-label="Select page"
              showFirstLastButtons
              (page)="paginar($event)">
</mat-paginator>
