<br /><br />
<div class="form-group">
  <label for="busqueda">Modificar un Restaurante</label>
  <!--<input type="search" #cajabusqueda (keyup)="busqueda1()" /(keydown.enter)="busqueda2()" (search)="busqueda3()" class="form-control" id="busqueda" name="busqueda" aria-describedby="busqueda" placeholder="Intro nombre barrio o especialidad"-->
  <input
    type="search"
    #cajabusqueda
    (keyup)="busqueda()"
    class="form-control"
    id="busqueda"
    name="busqueda"
    aria-describedby="busqueda"
    placeholder="Introduzca nombre restaurante o especialidad"
  />
</div>

<ul class="list-group" *ngIf="listaRestaurantes">
    <li class="list-group-item active">Lista de Restaurantes</li>
</ul>
<a 
    (click)="restaurateTocado(rest)"
    class="list-group-item list-group-item-action"
    *ngFor="let rest of listaRestaurantes">
    <b>{{ rest.nombre }}</b> - Barrio: {{ rest.barrio }} - Especialidades: {{ rest.especialidad1 }} -
    {{ rest.especialidad2 }} - {{ rest.especialidad3 }}
    
    <!-- CAMPOS DEL RESTAURANTE A MODIFICAR-->
<form *ngIf="muestrame !=muestrame" (submit)="guardarCambios()">
<div>
    <br><br>
    <label for="nombre"><b>Restaurante a modificar</b></label>
        <div class="input-group">
            <input type="text" #nombre="ngModel" [(ngModel)]="rest.nombre" class="form-control" id="nombre" name="nombre" placeholder="Introduzca nombre establecimiento" required pattern=".{4,15}">
            <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
            <div class="alert alert-danger" [hidden]="nombre.pristine||nombre.valid">
                    Nombre del establecimiento es obligatorio 
            </div>
            
            <span class="input-group-addon espacios"></span>
            <!-- <label for="direccion">Dirección</label>-->
            <input type="text" #direccion="ngModel" [(ngModel)]="rest.direccion" class="form-control" id="direccion" name="direccion" placeholder="Dirección" required>
            <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
            <div class="alert alert-danger" [hidden]="direccion.pristine||direccion.valid">
                    Dirección es obligatoria
            </div>
        </div>

        <p></p>
        <label for="">Selecciona barrio</label>
        <div class="input-group">
            <select [(ngModel)]="rest.barrio" name="nbarrio" id="nbarrio" class="form-control" title="listaBarrios">
                <option *ngFor="let barrio of barrios" value="{{barrio}}">{{barrio}}</option>
            </select>
        
            <span class="input-group-addon espacios"></span>

            <input type="text" #web="ngModel" [(ngModel)]="rest.web" class="form-control" id="web" name="web" placeholder="Introduzca Web" pattern=required pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?">
            <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
            <div class="alert alert-danger" [hidden]="web.pristine||web.valid">
                Web obligatorio
            </div>

            
        </div>
    
        <p></p>
        <label for="">Ficha Google / latitud / longitud</label>
        <div class="input-group">
            <input type="text" #fichaGoogle="ngModel" [(ngModel)]="rest.fichaGoogle" class="form-control" id="fichaGoogle" name="fichaGoogle" placeholder="Intro ficha google" pattern=required pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?">
            <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
            <div class="alert alert-danger" [hidden]="fichaGoogle.pristine||fichaGoogle.valid">
                Ficha google obligatorio
            </div>

            <span class="input-group-addon espacios"></span>

            <input type="number" #latitud="ngModel" [(ngModel)]="rest.latitud" class="form-control" id="latitud" name="latitud" placeholder="Intro latitud">
            <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
            <div class="alert alert-danger" [hidden]="latitud.pristine||latitud.valid">
                Latitud obligatorio
            </div>

            <span class="input-group-addon espacios"></span>
            
            <input type="number" #longitud="ngModel" [(ngModel)]="rest.longitud" class="form-control" id="longitud" name="longitud" placeholder="Intro longitud">
            <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
            <div class="alert alert-danger" [hidden]="longitud.pristine||longitud.valid">
                  Longitud obligatorio
            </div>
            
        </div> 
    
        <p></p>
        <label for="">Precio medio / Especialidades</label>
        <div class="input-group">
            <input type="number" #precioMedio="ngModel" [(ngModel)]="rest.precioMedio" class="form-control" id="precioMedio" name="precioMedio" placeholder="Intro Precio Medio" required min="2" max="500">
            <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
            <div class="alert alert-danger" [hidden]="precioMedio.pristine||precioMedio.valid">
                  Precio medio obligatorio
            </div>

            <span class="input-group-addon espacios"></span>

            <input type="text" #especialidad1="ngModel" [(ngModel)]="rest.especialidad1" class="form-control" id="especialidad1" name="especialidad1" placeholder="Introduzca especialidad">
            <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
            <div class="alert alert-danger" [hidden]="especialidad1.pristine||especialidad1.valid">
              Especialidad obligatorio
            </div>

            <span class="input-group-addon espacios"></span>

            <input type="text" #especialidad2="ngModel" [(ngModel)]="rest.especialidad2" class="form-control" id="especialidad2" name="especialidad2" placeholder="Introduzca especialidad">
            <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
            <div class="alert alert-danger" [hidden]="especialidad2.pristine||especialidad2.valid">
                Especialidad obligatorio
            </div>

            <span class="input-group-addon espacios"></span>

            <input type="text" #especialidad3="ngModel" [(ngModel)]="rest.especialidad3" class="form-control" id="especialidad3" name="especialidad3" placeholder="Introduzca especialidad">
            <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
            <div class="alert alert-danger" [hidden]="especialidad3.pristine||especialidad3.valid">
                  Especialidad obligatorio
            </div>

        </div>

        <p></p>
        <label for="">Imagen restaurante</label>
        <div class="input-group">
            <input  type="file" (change)="seleccionarFoto($event)" class="form-control" id="foto" name="foto">
        </div>
    </div>
    
  
    <!-- desactivar el boton si hay error en la entrada de datos
    <button type="submit" [disabled]="!formulario_restaurante.valid">CREAR</button>
    -->
    <button  type="submit" class="btn btn-primary">GUARDAR CAMBIOS</button>

</form>
</a>