<br /><br />
<div class="form-group">
  <label for="busqueda">Modificar un Restaurante</label>
  <!--<input type="search" #cajabusqueda (keyup)="busqueda1()" /(keydown.enter)="busqueda2()" (search)="busqueda3()" class="form-control" id="busqueda" name="busqueda" aria-describedby="busqueda" placeholder="Intro nombre barrio o especialidad"-->
  <input
    type="search"
    #cajabusqueda
    (keyup)="busqueda()"
    class="form-control"
    id="busqueda"
    name="busqueda"
    aria-describedby="busqueda"
    placeholder="Introduzca nombre restaurante o especialidad"
  />
</div>

<ul class="list-group" *ngIf="muestrame==true">
    <li class="list-group-item active">Lista de Restaurantes</li>
</ul>
<a 
    (click)="restaurateTocado(rest)"
    class="list-group-item list-group-item-action"
    *ngFor="let rest of listaRestaurantes">
    <b>{{ rest.nombre }}</b> - Barrio: {{ rest.barrio }} - Especialidades: {{ rest.especialidad1 }} -
    {{ rest.especialidad2 }} - {{ rest.especialidad3 }}
    
    <button type="submit" class="btn btn-success espacios" (click)="modificarRestaurante(rest)">Seleccionar para modificar</button>
  
    <app-ficha></app-ficha>
</a>

