
<div class="form-group">
<form (submit)="buscarRestaurante()">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" #nombre="ngModel" [(ngModel)]="restaurante.nombre" class="form-control" id="nombre" name="nombre" placeholder="Introduzca nombre restaurante" required pattern=".{4,15}">
        <!-- definimos una sección de error, que muestre el mensaje si el campo no se valida -->
        <div class="alert alert-danger" [hidden]="nombre.pristine||nombre.valid">
              Nombre obligatorio
        </div>
      </div>
  
  <button type="submit">Buscar</button>

</form>
</div>


<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card rest_card">
      <img src="/assets/imgrest.jpeg" class="card_img" alt="..." />
      <div class="card-body">
        <div>
          <h1 class="card_title rest_nombre">{{ restaurante.nombre }}</h1>
          <p class="card_text rest_direccion">{{ restaurante.direccion }}</p>
          <p class="card_text rest_barrio">{{ restaurante.barrio }}</p>
          <a href="#" class="btn btn-warning rest_button">Ficha restaurante</a>
        </div>
      </div>
    </div>
  </div>
</div>
