<br /><br />
<div class="form-group">
    <form (submit)="buscarRestaurante()">
      <label for="id">ID del restaurante:</label>
      <input type="text" id="id" name="id" [(ngModel)]="idABuscar" />
      <button type="submit">Buscar</button>
    </form>
  </div>

  <div *ngIf="buscarRestaurante" class="row">
    <div class="col-md-4 mb-4">
      <div class="card rest_card">
        <div class="card-body">
          <div>
            <h1 class="card_title rest_nombre">{{ restaurante.nombre }}</h1>
            <p class="card_text rest_direccion">{{ restaurante.direccion }}</p>
            <p class="card_text rest_barrio">{{ restaurante.barrio }}</p>
            <a href="#" class="btn btn-warning rest_button"
              >Ficha restaurante</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
